{% extends 'i_remote/base.html' %}

{% block content %}
    <h2>Remote Design</h2>
    {% for remote_des in remote_des %}
        <div class="post">
            <div class="date">
                <p></p>
            </div>
            <h3>
                {% if request.user.is_authenticated %}
                    {{ remote_des.title_remote }}
                {% else %}
                    <a href="{% url 'signup' %}">{{ remote_des.title_remote }}</a>
                {% endif %}
            </h3>
            <p>{{ remote_des.detail_specification|linebreaksbr }}</p>
            {% if request.user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'form_design_prof' %}">{{ remote_des.title_remote }} Form</a>
            {% else %}
                <a class="btn btn-default" href="{% url 'signup' %}">Click to register</a>
            {% endif %}
        </div>
    {% endfor %}

    {% for design_com in design_com %}
        <h3>
            {% if request.user.is_authenticated %}
                {{ design_com.title }}
            {% else %}
                <a href="{% url 'signup' %}">{{ design_com.title }}</a>
            {% endif %}
        </h3>
        <p>{{ design_com.preview|linebreaksbr }}</p>
        {% if request.user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'form_design_self' %}">{{ design_com.title }} Form</a>
        {% else %}
            <a class="btn btn-default" href="{% url 'signup' %}">Click to register</a>
        {% endif %}
    {% endfor %}
    <hr>
{% endblock %}
