{% extends 'i_remote/base.html' %}

{% block content %}
    <h2>Remote training for professional</h2>
    <hr>
    {% for detail in detail %}
        <div class="post">
            <div class="date">
                <p></p>
            </div>
            <h3>
                {% if request.user.is_authenticated %}
                    {{ detail.title_prof }}
                {% else %}
                    <a href="{% url 'signup' %}">{{ detail.title_prof }}</a>
                {% endif %}
            </h3>
            <p>{{ detail.detail_specification|linebreaksbr }}</p>
        {% if request.user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'form_professional_training' %}">
                <!--This is where i add the python function to display each software on the button-->
                {{ detail.title_prof }} Form</a>
        {% else %}
            <a class="btn btn-default" href="{% url 'signup' %}">Click here to register</a>
        {% endif %}
        <hr>
        </div>
    {% endfor %}
    <h4><a href="{% url 'modification_page' %}">Click here for training requirement</a></h4>
{% endblock %}